# Output files
Maze.txt
*.html

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.log
Visual Studio/mgGameEngine/mgGameEngine.sdf
Visual Studio/mgGameEngine/mgGameEngine.sdf
Visual Studio/mgGameEngine/mgGameEngine.sdf
*.sdf
*.suo
*.obj
*.log
*.lastbuildstate
Windows Binaries/DevelopmentConsole.exe
Windows Binaries/DevelopmentConsole.pdb
Windows Binaries/SDLengine.exe
Windows Binaries/SDLengine.pdb
Windows Binaries/TreeOutput.txt
Visual Studio/mgGameEngine/Release/mgGameEngine.tlog/cl.command.1.tlog
Visual Studio/mgGameEngine/Release/mgGameEngine.tlog/CL.read.1.tlog
Visual Studio/mgGameEngine/Release/mgGameEngine.tlog/CL.write.1.tlog
Visual Studio/mgGameEngine/Release/mgGameEngine.tlog/link.command.1.tlog
Visual Studio/mgGameEngine/Release/mgGameEngine.log
Visual Studio/mgGameEngine/Release/mgGameEngine.tlog/link.read.1.tlog
Visual Studio/mgGameEngine/Release/mgGameEngine.tlog/link.write.1.tlog
Visual Studio/mgGameEngine/Release/vc120.pdb
Visual Studio/SDLengine/SDLengine.sdf
Visual Studio/SDLengine/SDLengine.v12.suo
Visual Studio/SDLengine/SDLengine/Release/SDLengine.tlog/cl.command.1.tlog
Visual Studio/SDLengine/SDLengine/Release/SDLengine.tlog/CL.read.1.tlog
Visual Studio/SDLengine/SDLengine/Release/SDLengine.tlog/CL.write.1.tlog
Visual Studio/SDLengine/SDLengine/Release/SDLengine.tlog/link.command.1.tlog
Visual Studio/SDLengine/SDLengine/Release/SDLengine.tlog/link.read.1.tlog
Visual Studio/SDLengine/SDLengine/Release/SDLengine.tlog/link.write.1.tlog
Visual Studio/SDLengine/SDLengine/Release/vc120.pdb
Visual Studio/mgGameEngine/mgGameEngine.sdf
Visual Studio/mgGameEngine/mgGameEngine.v12.suo
Visual Studio/mgGameEngine/Release/mgGameEngine.log
Visual Studio/SDLengine/SDLengine.opensdf
Visual Studio/SDLengine/SDLengine.v12.suo
Visual Studio/mgGameEngine/Release/mgGameEngine.log
Visual Studio/mgGameEngine/mgGameEngine.v12.suo
/Visual Studio/SDLengine/.vs/SDLengine/v17/Browse.VC.db
/Visual Studio/SDLengine/.vs/SDLengine/v17/Browse.VC.opendb
/Visual Studio/SDLengine/.vs/SDLengine/v17/Browse.VC.db-wal
/Visual Studio/SDLengine/.vs/SDLengine/v17/Browse.VC.db-shm
